@charset "utf-8";

body {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./img/back.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.header {
    padding: 10% 0 0 ;
	margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}
.header h1 {
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.search-field {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.event {
    width: 400px;
}
.location {
    widows: 200px;
}
.search-btn {
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
}

.search-btn:hover {
    background:#ffc107;
    cursor: pointer;
}

.form-box {
    background: rgb(0,0,0,0.5);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}